.cache/
.venv/
.vscode/
.xmake/
bin/
build/
obj/
__pycache__/
datasets/
*.7z
*.bmp
*.csv
*.dll
*.exe
*.jpg
*.pdb
*.pdf
*.png
*.pth
.python-version
compile_commands.json
Rotate.deps.json
Rotate.runtimeconfig.json
uv.lock

LeNet5/lenet5_weights.hxx
